*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Dosis', sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {

    background-color: #F7F7F8;
    padding: 1em 5%;

        div{
            
            align-items: center;
            display: flex;
            flex-direction: row;

            .nav-list {
                display: flex;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .nav-item {
                list-style: none;
                padding: 0 25px;
                font-size: 1.1rem;
                font-weight: 400;
            }

            span {
                align-self: flex-end;
                font-weight: 600;
                transform: translateY(+20%)
            }

    }
}

#hero {
    position: relative;
    background: transparent linear-gradient(31deg, #986025 0%, #996125 0%, #EAC23B 100%) 0% 0% no-repeat padding-box;
    overflow: hidden;

    .honey-dippers {
        background-image: url("/src/imgs/honey-group.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: calc(-400%);
        padding: 1em 5%;
    }

    div {
        display: flex;
        flex-direction: column;

        .title {
            margin-top: 14.5rem;
            color: black;
            font-size: 5rem;
            width: 62%;
            text-align: center;
        }

        .description {
            margin-top: 1.2rem;
            margin-bottom: 8rem;
            color: black;
            font-size: 1.7rem;
            width: 62%;
            text-align: center;
        }

        img {
            // display: none;
            position: absolute;
            right: 0;
            bottom: -20%;
            grid-area: phone;
            height: 44rem;
            z-index: 0;
        }
    }

}

#section-2 {
    padding: 1em 5%;
    overflow: hidden;
    background: transparent linear-gradient(247deg, #FFFFFF 23%, #F5F7FA 45%, #DBE3EC 82%, #CCD8E5 100%) 0% 0% no-repeat padding-box;

    img {
        position: absolute;
        left: 25%;
        transform: translate(-50%, 8.6rem);

    }

    .wrapper{
        position: relative;
    }

    .text {
        float: right;
        width: 50%;
        text-align: right;
    }

    .title {
        margin-top: 6rem;
        font-size: 4rem;

    }

    .subtitle {
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    .description {
        margin: 2.9rem 0 8.2rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    
}

#divider-2 {
    height: 20.3rem;
    width: 100%;
    background-image: url("/src/imgs/divider-2.svg");
    background-size: cover;
    background-repeat: no-repeat;

}

#section-3 {

    padding: 1em 5%;
    overflow: hidden;
    background: transparent linear-gradient(247deg, #FFFFFF 23%, #F5F7FA 45%, #DBE3EC 82%, #CCD8E5 100%) 0% 0% no-repeat padding-box;

    img {
        position: absolute;
        height: 27.8rem;
        top: 50%;
        right: 20%;
        transform: translate(50%, -50%)

    }

    .wrapper{
        position: relative;
    }

    .text {
        width: 60%;
    }

    .title {
        margin-top: 6rem;
        font-size: 4rem;

    }

    .description {
        margin: 3.1rem 0 6.5rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

#divider-3 {
    height: 13.7rem;
    width: 100%;
    background-image: url("/src/imgs/divider-3.svg");
    background-size: cover;
    background-repeat: no-repeat;

}

#section-4 {
    padding: 1em 5%;
    overflow: hidden;
    background: transparent linear-gradient(247deg, #FFFFFF 23%, #F5F7FA 45%, #DBE3EC 82%, #CCD8E5 100%) 0% 0% no-repeat padding-box;

    img {
        position: absolute;
        left: 25%;
        transform: translate(-50%, 8.6rem);

    }

    .wrapper{
        position: relative;
    }

    .text {
        float: right;
        width: 50%;
        text-align: right;
    }

    .title {
        margin-top: 6rem;
        font-size: 4rem;

    }

    .subtitle {
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    .description {
        margin: 2.9rem 0 8.2rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
}

footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;

    h3 {
        font-size: 3.6rem;
        color: #EAC23B;
        text-align: center;
        width: 60%;
        font-weight: 400;
        margin: 2rem auto;
    }

    .nav-list {
        color: white;
        display: flex;
        margin: 1rem auto;
    }

    .nav-item {
        list-style: none;
        padding: 0 25px;
        font-size: 1.1rem;
        font-weight: 400;
    }

    span {
        color: white;
        margin: 1rem auto 2rem;
        padding: 0 25px;
        font-size: 1.1rem;
        font-weight: 400;

        .heart {
            margin: 0 ;
            color: #C1272D;
        }
    }

}

@media (max-width: 768px) {
    nav{
        div {
            flex-direction: column;

            .nav-list {
                position: relative;
                display: flex;
                justify-content: space-around;
                width: 100%;

                .nav-item {
                    font-size: .8rem;
                    text-align: center;
                }
            }

            .logo {
                height: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }

    #hero {

        .honey-dippers {
            background-image: url("/src/imgs/honey-group.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: top right;
            background-position-y: -6rem;
            padding: 1em 5%;
        }
    
        div {    
            .title {
                margin-top: 4rem;
                font-size: 1.9rem;
                width: 60%;
            }
    
            .description {
                font-size: 1rem;
                width: 60%;
                margin-bottom: 4rem; 
            }
    
            img {
                position: absolute;
                right: 30%;
                top: 35%;
                height: 15rem;
                z-index: 0;
                transform: rotate(21deg) translate(50%, -50%);
            }
        }
    
    }

    #section-2 {
        padding: 1em 5%;
        overflow: hidden;
        background: transparent linear-gradient(247deg, #FFFFFF 23%, #F5F7FA 45%, #DBE3EC 82%, #CCD8E5 100%) 0% 0% no-repeat padding-box;
    
        img {
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, 8rem);
            width: 60vw;
    
        }
    
        .text {
            float: none;
            width: 100%;
            text-align: left;
        }
    
        .title {
            margin-top: 2rem;
            font-size: 2rem;
    
        }
    
        .subtitle {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    
        .description {
            margin: 1.5rem 0 18rem;
            font-size: 1rem;
            line-height: 2rem;
        }   
    }

    #divider-2 {
        height: 5rem;    
    }

    #section-3 {
    
        img {
            position: absolute;
            height: 15rem;
            top: 50%;
            right: 20%;
            transform: translate(50%, -50%)
    
        }
    
        .text {
            width: 55%;
        }
    
        .title {
            margin-top: 4rem;
            font-size: 2rem;
    
        }
    
        .description {
            margin: 1rem 0 4rem;
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    #divider-3 {
        height: 4rem;
    }

    #section-4 {
        padding: 1em 5%;
        overflow: hidden;
        background: transparent linear-gradient(247deg, #FFFFFF 23%, #F5F7FA 45%, #DBE3EC 82%, #CCD8E5 100%) 0% 0% no-repeat padding-box;
    
        img {
            position: absolute;
            left: 50%;
            width: 70%;
            max-height: 10rem;
            bottom: 0;
            margin: 0 auto;
            transform: translate(-50%, 12rem);
    
        }
    
        .text {
            float: none;
            width: 100%;
            text-align: center;
        }
    
        .title {
            margin-top: 4rem;
            font-size: 2rem;
    
        }
    
        .subtitle {
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        .description {
            margin: 1.5rem 0 16rem;
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    footer{
    
        h3 {
            font-size: 2rem;
        }
    
        .nav-list {
            margin: 1 auto;
        }
    
        .nav-item {
            list-style: none;
            font-size: .8rem;
            text-align: center;
        }
    
        span {
            font-size: .8rem;
    
            .heart {
                margin: 0 -1rem ;
                color: #C1272D;
            }
        }
    
    }

}

@media (max-width: 576px) {

    nav{
        div {

            .nav-list {
                flex-direction: column;

                .nav-item {
                    margin: .5rem 0;
                    font-size: 1rem;
                }
            }
        }
    }

    #hero {

        .honey-dippers {
            background-position-y: -2rem;
        }
    
        div {    
            .title {
                margin-top: 4rem;
                font-size: 2rem;
                width: 100%;
            }
    
            .description {
                font-size: 1rem;
                width: 100%;
                margin-bottom: 10rem; 
            }
    
            img {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%) rotate(21deg);
                
            }
        }
    
    }

    #section-2 {    
        img {
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, 8rem);
            width: 60vw;
    
        }
    
        .text {
            float: none;
            width: 100%;
            text-align: center;
        }
    
        .title {
            margin-top: 2rem;
            font-size: 2rem;
    
        }
    
        .subtitle {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    
        .description {
            margin: 1.5rem 0 18rem;
            font-size: 1rem;
            line-height: 2rem;
        }   
    }

    #divider-2 {
        height: 5rem;    
    }

    #section-3 {
    
        img {
            position: absolute;
            height: 25rem;
            top: 100%;
            right: 50%;
            transform: translate(50%, 10%)
    
        }
    
        .text {
            width: 100%;
            text-align: center;
        }
    
        .title {
            margin-top: 4rem;
            font-size: 2rem;
    
        }
    
        .description {
            margin: 1rem 0 10rem;
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    #divider-3 {
        height: 4rem;
    }

    #section-4 {
        padding: 1em 5%;
        overflow: hidden;
        background: transparent linear-gradient(247deg, #FFFFFF 23%, #F5F7FA 45%, #DBE3EC 82%, #CCD8E5 100%) 0% 0% no-repeat padding-box;
    
        img {
            position: absolute;
            left: 50%;
            width: 70%;
            max-height: 10rem;
            bottom: 0;
            margin: 0 auto;
            transform: translate(-50%, 12rem);
    
        }
    
        .text {
            float: none;
            width: 100%;
            text-align: center;
        }
    
        .title {
            margin-top: 4rem;
            font-size: 2rem;
    
        }
    
        .subtitle {
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        .description {
            margin: 1.5rem 0 16rem;
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    footer{
    
        h3 {
            font-size: 2rem;
        }
    
        .nav-list {
            margin: 1 auto;
        }
    
        .nav-item {
            list-style: none;
            font-size: .8rem;
            text-align: center;
        }
    
        span {
            font-size: .8rem;
    
            .heart {
                margin: 0 -1rem ;
                color: #C1272D;
            }
        }
    
    }

}
